mixin achieve(imageName)
  div.achieve
    img.achieve-img(src="./img/#{imageName}.jpg", alt="#{imageName}")

doctype html
html
  head
    link(rel="stylesheet" href="./task1.css")
  body
    div.container
      - for(var i = 0; i < 100; ++i)
        +achieve("city")
